<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>Finance Tracker</title>
</head>
<body>
    <h1>Welcome to the Finance Tracker</h1>
    {{>addExpense}}
    {{>expenseTable}}
    {{>jqueryLinks}}
    {{>footer}}
    <script src="js/expenseTable.js"></script>
</body>
</html>