<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>Statements  </title>
</head>
<body>
    <h1>Statements</h1>
    {{>report}}
        <div class="row">
                <p>
                <a class="btn btn-primary-outline" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    get detailed report
                </a>
                </p>
                <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    {{>expenseTable}}
                </div>
                </div>
        </div>
  
    {{>jqueryLinks}}
    {{>footer}}
    <script src="js/statement.js"></script>
</body>
</html>