<div class="container">
    <div class="row">
        <div class="col-auto">
            <label class="visually-hidden" for="fromDate">From</label>
            <input type="date" class="form-control" name="fromDate" id="fromDate">
        </div>

        <div class="col-auto">
            <label class="visually-hidden" for="toDate">To</label>
            <input type="date" class="form-control" name="toDate" id="toDate">
        </div>

        <div class="col-auto">
            <button type="submit" id="stat" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row">
        <div id="report">

        </div>
    </div>
</div>